<%= form_with(model: stock, local: true) do |form| %>
  <% if stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stock.errors.count, "error") %> prohibited this stock from being saved:</h2>

      <ul>
      <% stock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :ticker %>
    <%= form.text_field :ticker, class: "form-control" %>
  </div>

  <div class="form-group">
  <%= form.text_field :user_id, value: current_user.id, type: :hidden, class: "form-control" %>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
