<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Ticker</th>
      <th>Current Price</th>
      <th>Company Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <% if stock.user_id == current_user.id %>
        <% begin %>
          <% @stock_quote = IEX::Resources::Quote.get(stock.ticker) %>
          <% @company = IEX::Resources::Company.get(stock.ticker) %>
        <% rescue StandardError %>
          <tr>
            <td><%= stock.ticker %></td>
            <td><%= "N/A" %></td>
            <td><%= "N/A" %></td>
            <td><%= link_to 'Show', stock, class: "btn btn-default" %></td>
            <td><%= link_to 'Edit', edit_stock_path(stock), class: "btn btn-default" %></td>
            <td><%= link_to 'Destroy', stock, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></td>
          </tr>
          <% next %>
        <% end %>
        <tr>
          <td><%= stock.ticker %></td>
          <td><%= @stock_quote.latest_price %></td>
          <td><%= @company.company_name %></td>
          <td><%= link_to 'Show', stock, class: "btn btn-default" %></td>
          <td><%= link_to 'Edit', edit_stock_path(stock), class: "btn btn-default" %></td>
          <td><%= link_to 'Destroy', stock, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Stock', new_stock_path, class: "btn btn-default" %>

<br><br>

<br/><br/>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Quick Quotes</h3>
  </div>
  <div class="panel-body">
    <%= form_tag root_path, :method => 'POST' do %>
    <%= text_field_tag 'id', nil, placeholder: 'Enter Ticker Symbol Here', size: 50 %>
    <%= submit_tag 'Click Here' %>
    <% end %>
  </div>
</div>
