<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">New Stock</h3>
  </div>
  <div class="panel-body">
    <%= render 'form', stock: @stock %>
  </div>
  <div class="panel-footer"><%= link_to 'Back', stocks_path %></div>
</div>
