<% begin %>
  <% @stock_quote = IEX::Resources::Quote.get(@stock.ticker) %>
  <% @company = IEX::Resources::Company.get(@stock.ticker) %>
<% rescue StandardError %>
  hello
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><strong><%= @company.company_name %> - <%= @stock_quote.symbol %></strong></h3>
  </div>
  <div class="panel-body">
    <h1>$<%= @stock_quote.latest_price %></h1><br>
    <strong>CEO: </strong><%= @company.ceo %><br><br>
    <strong>Percent Change: </strong><%= @stock_quote.change_percent_s %><br><br>
    <strong>Description: </strong><%= @company.description %><br><br>
  </div>
  <div class="panel-footer"><%= link_to 'Edit', edit_stock_path(@stock), class: "btn btn-default" %>
  <%= link_to 'Delete', stock_path(@stock), method: :delete, data:
              { confirm: 'Are you sure?' }, class: "btn btn-default" %>
  <%= link_to 'Back', stocks_path, class: "btn btn-default" %></div></div>
</div>
