<br/><br/>
<%= form_tag root_path, :method => 'POST' do %>
<%= text_field_tag 'id', nil, placeholder: 'Enter Company Ticker Symbol', size: 50 %>
<%= submit_tag 'Lookup Stock Quote' %>
<% end %>

<br/><br/>

<% if @stock %>

<strong>Company: </strong><%= @company.company_name %><br>
<strong>CEO: </strong><%= @company.ceo %><br>
<strong>Latest Price: </strong><%= @stock.latest_price %><br>
<strong>Percent Change: </strong><%= @stock.change_percent_s %><br>
<strong>Description: </strong><%= @company.description %><br>

<% elsif @nothing %>
  <%= @nothing %>
<% end %>

<% if @error %>
<%= @error %>
<% end %>
